[submodule "taglib-sharp"]
	path = taglib-sharp
	url = git@github.com:yknx4/taglib-sharp.git
[submodule "testConvert"]
	path = testConvert
	url = git@github.com:yknx4/testConvert.git
[submodule "ffmpeg-convert"]
	path = ffmpeg-convert
	url = git@github.com:yknx4/ffmpeg-convert.git
