[submodule "taglib-sharp"]
	path = taglib-sharp
	url = git@github.com:yknx4/taglib-sharp.git
[submodule "testConvert"]
	path = testConvert
	url = git@github.com:yknx4/testConvert.git
[submodule "ffmpeg-convert"]
	path = ffmpeg-convert
	url = git@github.com:yknx4/ffmpeg-convert.git
[submodule "PlaylistToMp3_DLL"]
	path = PlaylistToMp3_DLL
	url = git@github.com:yknx4/PlaylistToMp3_DLL.git
[submodule "PlaylistToMp3_GUI"]
	path = PlaylistToMp3_GUI
	url = git@github.com:yknx4/PlaylistToMp3_GUI.git
